.container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: auto;
  right: auto;
}

.form-header {
  background: linear-gradient(
    to right,
    rgba(2, 29, 53, 0.425),
    rgba(18, 71, 121, 0.411),
    rgb(4, 87, 165),
    rgba(18, 71, 121, 0.411),
    rgba(2, 29, 53, 0.425)
  );
  width: 100%;
  padding-bottom: 15px;
  /* height: 30px; */
  /* margin-bottom: 35px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  /* flex-wrap: wrap; */
  color: white;
  text-shadow: 0.125px 0.25px black, 0.25px 0.5px black, 0.375px 0.75px black,
    0.5px 1px black, 0.625px 1.25px black, 0.75px 1.5px black;
  font-size: 36px;
  font-weight: bold;
  /* border-radius: 15px; */
  margin-bottom: 5px;
}

form {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  padding-right: 15px;
  background: linear-gradient(
    to right,
    rgb(2, 29, 53),
    rgb(18, 71, 121),
    rgb(4, 87, 165),
    rgb(18, 71, 121),
    rgb(2, 29, 53)
  );
  /* background: linear-gradient(
    to bottom,
    rgb(157, 219, 255),
    rgb(2, 41, 63),
    rgb(48, 103, 134),
    rgb(2, 41, 63)
  ); */
  border-radius: 20px;
  box-shadow: 0 0 40px 10px black;
  border: 1px solid white;
  transition: box-shadow 0.3s ease-in-out;
}

form:hover {
  box-shadow: 0 12px 40px black;
}

.header-line {
  border: 0;
  height: 2px;
  background: #003561;
  box-shadow: 0 0 5px 5px rgba(240, 248, 255, 0.808);
  /* margin-bottom: 20px;
  margin-top: 20px; */
}

label {
  color: white;
  text-shadow: 0.125px 0.25px black, 0.25px 0.5px black, 0.375px 0.75px black,
    0.5px 1px black, 0.625px 1.25px black, 0.75px 1.5px black;
  margin-bottom: 5px;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.highlightred {
  color: red;
  text-shadow: none;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: inset 3px 3px 10px rgb(0, 0, 0);
  background-color: white;
}

/* Add focus state for input fields */
input:focus,
textarea:focus {
  border-color: #1abc9c;
  box-shadow: 0 0 8px rgba(26, 188, 156, 0.2);
}

button {
  background: radial-gradient(
    circle,
    rgb(4, 87, 165),
    rgb(55, 128, 196),
    rgb(2, 29, 53)
  );
  color: white;
  text-shadow: 0.125px 0.25px black, 0.25px 0.5px black, 0.375px 0.75px black,
    0.5px 1px black, 0.625px 1.25px black, 0.75px 1.5px black;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 20px rgb(0, 8, 14), inset 0 1px 2px #cde4ffbc,
    inset 0 -1px 2px white;
  transition: transform 0.2s, background 0.3s;
  margin-bottom: 10px;
}

.pre-select {
  color: red;
}

.post-select {
  color: greenyellow;
}

/* Button hover effect */
button:hover {
  background: #000305;
  transform: translateY(-2px);
}

.pColor {
  color: white;
  /* text-shadow: 1px 1px 1px black, 2px 2px 2px black; */
  font-size: 20px;
}

.message {
  margin-top: 10px;
  font-size: 16px;
}

/* Dropdown Button */
.dropbtn {
  background: radial-gradient(
    circle,
    rgb(4, 87, 165),
    rgb(55, 128, 196),
    rgb(2, 29, 53)
  );
  color: white;
  text-shadow: 0.125px 0.25px black, 0.25px 0.5px black, 0.375px 0.75px black,
    0.5px 1px black, 0.625px 1.25px black, 0.75px 1.5px black;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 20px rgb(0, 8, 14), inset 0 1px 2px #cde4ffbc,
    inset 0 -1px 2px white;
  transition: transform 0.2s, background 0.3s;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  text-shadow: 1px 1px 1px black, 2px 2px 2px black, 3px 3px 3px black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background: linear-gradient(
    to bottom,
    #add8e6,
    #4682b4,
    #1e3d58,
    #4682b4,
    #add8e6
  );
  color: azure;
  box-shadow: 0 0 12px 6px white;
}

/* Show the dropdown menu */
.show {
  display: block;
}

/* Flexbox for form rows */
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Flexbox for each form group (label + input) */
.form-group {
  flex: 0 0 48%;
}

/* Ensure form inputs take full width of their container */
.form-group input {
  width: 100%;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  /* margin-top: 5px; */
  border: 4px inset rgb(223, 223, 223);
  /* box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, 0.466); */
  outline: 1px solid black;
  background-color: rgb(189, 214, 228);
  border-radius: 5px;
  box-sizing: border-box;
}

/* For textarea and other inputs to align with other fields */
textarea,
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  /* margin-top: 5px; */
  border: 4px inset rgb(223, 223, 223);
  /* box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, 0.466); */
  outline: 1px solid rgb(165, 35, 35);
  background-color: rgb(189, 214, 228);
  border-radius: 5px;
  box-sizing: border-box;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-group {
    flex: 0 0 100%;
  }
}

@media (max-width: 520px) {
  form {
    padding: 10px;
  }

  input,
  textarea {
    padding: 8px;
  }

  /* button,
  .dropbtn {
    padding: 8px;
    font-size: 16px;
  } */

  @media (max-width: 480px) {
    .form-header {
      /* margin-bottom: 70px; */
    }

    .dropdown-content {
      min-width: 300px;
    }
  }
}
