@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

/* common styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
  letter-spacing: normal;
}

body {
  background-color: hsl(60, 100%, 98%);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

.button-container {
  margin: 0;
  display: flex;
  justify-content: center; /* Push buttons to the right */
  align-items: center;
  gap: 0; /* Spacing between the buttons */
  flex: 0 0 auto; /* Ensure the buttons don't shrink or grow */
}

.Body-Button-Container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Body-Button {
  background: radial-gradient(
    circle,
    rgb(4, 87, 165),
    rgb(55, 128, 196),
    rgb(2, 29, 53)
  );
  color: white;
  background-blend-mode: screen;
  filter: brightness(1.1);
  text-shadow: 1px 0.5px 1px black, 2px 1px 1px black, 3px 1.5px 1px black,
    4px 2px 1px black;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 20px rgb(0, 8, 14), inset 0 1px 2px #cde4ffbc,
    inset 0 -1px 2px white;
  transition: transform 0.2s, background 0.3s;
}

.Body-Button:hover {
  box-shadow: 0 0 30px white;
  color: rgb(104, 215, 255);
}

.body-button:active {
  transform: scale(0.95); /* Slightly reduce size on click */
  box-shadow: 0 4px 8px rgb(0, 53, 97),
    /* Main shadow for depth */ inset 0 2px 2px rgba(83, 142, 31, 0.5),
    /* Inset highlight for 3D effect */ inset 0 -1px 1px rgb(0, 53, 97); /* Reduced inset shadow for pressed look */
}

.centered-button:hover,
.cta-button:hover {
  background-color: #8ec2f7;
  color: black;
  box-shadow: 0 0 12px white;
  transform: translateY(-2px);
}

section {
  padding-right: 10px;
  padding-left: 10px;
  background-color: hsl(60, 100%, 98%);
}

.section--head {
  text-align: center;
  margin-top: 10px;
}

.section--title,
.section--desc {
  margin: 1rem auto;
  text-align: center;
  text-shadow: 0 1px 2px rgba(8, 28, 59, 0.15), 0 2px 4px rgba(8, 28, 59, 0.1),
    0 3px 6px rgba(8, 28, 59, 0.05);
}

.section--desc {
  max-width: 800px;
  text-shadow: none;
  font-size: 18px;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 0;
}

.grid--cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  position: relative;
  padding: 5px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 0.5rem;
  border-bottom: 4px solid rgb(35, 143, 230); /* Updated border color */
  box-shadow: 0 0 12px rgb(0, 53, 97);
  height: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card p {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card ul {
  margin-left: 20px;
}

.card li {
  text-align: left;
  margin-top: 5px;
}

.card i {
  font-size: 20px;
}
p {
  color: #555;
  margin-top: 20px;
  text-align: left;
}

.chip {
  background: radial-gradient(
    circle,
    rgb(165, 4, 4),
    rgb(196, 55, 55),
    rgb(53, 2, 2)
  );
  color: white;
  text-shadow: 1px 0.5px 1px black, 2px 1px 1px black, 3px 1.5px 1px black,
    4px 2px 1px black;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 5px 20px rgb(0, 8, 14), inset 0 1px 2px #cde4ffbc,
    inset 0 -1px 2px white;
  transition: transform 0.2s, background 0.3s;
  margin-bottom: 15px;
  margin-top: 0;
}

/* nav */
.nav {
  background: radial-gradient(
    circle,
    rgb(4, 87, 165),
    rgb(55, 128, 196),
    black 80%
  );
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  max-width: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.sayMyName {
  margin-left: 75px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav--container {
  display: flex; /* Use flexbox to control alignment */
  justify-content: space-between; /* Space between logo and buttons */
  align-items: center; /* Vertically align everything */
  position: relative; /* Keep the layout consistent */
  padding: 15px 15px;
  row-gap: 5px;
  column-gap: 10px;
}

.nav--container h4 {
  flex-grow: 1; /* Take up the space between the logo and buttons */
  text-align: center; /* Center the heading */
  font-size: 22px;
  font-family: "Sofia", sans-serif;
  font-weight: normal;
  font-style: italic;
  background: linear-gradient(
    90deg,
    white 25%,
    #f3f0eb 50%,
    #f5be91 75%,
    #ffffff 100%
  );
  background-size: 500% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shine 60s reverse infinite;
  letter-spacing: 1px;
}

.logo {
  margin: 0;
}

.logo img {
  max-height: 80px; /* Adjust size of logo */
  width: auto;
  margin-left: 0;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (max-width: 768px) {
  .grid--cards {
    grid-template-columns: 1fr; /* Single column on smaller screens */
  }

  .container {
    max-width: 100%; /* Ensure the container takes full width on smaller screens */
  }

  .hero--title {
    font-size: 1.5rem;
    position: relative;
    opacity: 1; /* Ensures the container is visible */
    white-space: normal; /* Allow text wrapping */
    text-align: center; /* Center-align text */
    word-break: break-word; /* Ensure words wrap correctly */
    max-width: 90%; /* Restrict width for proper wrapping */
    margin: 0 auto; /* Center align the container */
    overflow: visible;
  }

  .hero--desc {
    font-size: 20px; /* Adjusted for readability */
    padding: 0 1rem;
  }

  .section--desc {
    font-size: 20px; /* Smaller font size for sections */
    padding: 10px 10px;
  }

  .portfolio--img--cover img,
  .test--img--cover img {
    width: 100%; /* Ensure images resize to fit */
    height: auto;
  }

  .video-background {
    height: 300px; /* Adjust video height for mobile */
  }

  .nav {
    background: linear-gradient(
      to bottom,
      black 60%,
      rgb(55, 128, 196),
      rgb(4, 87, 165)
    );
    /* background: linear-gradient(to bottom, black, black, rgb(0, 81, 255)); */
  }

  /* Stacking navigation for mobile */
  .nav--container {
    flex-direction: column;
    margin-bottom: 0;
    gap: 10px;
  }

  .sayMyName {
    position: relative;
    top: 10px;
    right: 10px;
    text-align: right;
    margin-left: 75px;
    margin-bottom: 5px;
  }

  .navbar {
    text-align: center;
    padding: 10px;
  }

  .subnavbtn {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .nav {
    /* background: linear-gradient(to bottom, black, black, rgb(0, 81, 255)); */
  }
  .hero--title {
    font-size: 1rem; /* Adjust font size for smaller screens */
    max-width: 100%; /* Let the title use the full screen width */
    text-align: center;
  }

  .hero--desc {
    font-size: 20px;
  }

  .video-background {
    height: 200px; /* Further reduce video height on very small screens */
  }

  footer p {
    margin-top: 0;
  }
}

div {
  text-align: center;
  margin: 20px 0; /* Adds spacing between titles */
}

/* Styling for the main title container */
.hero--title {
  font-size: 1.5rem;
  position: relative;
  opacity: 1; /* Ensures the container is visible */
  white-space: normal; /* Allow text wrapping */
  text-align: center; /* Center-align text */
  word-wrap: break-word; /* Ensure words wrap correctly */
  max-width: 90%; /* Restrict width for proper wrapping */
  margin: 0 auto; /* Center align the container */
  line-height: 1; /* Ensure proper spacing between lines */
  text-shadow: 0 1px 2px rgba(8, 28, 59, 0.15), 0 2px 4px rgba(8, 28, 59, 0.1),
    0 3px 6px rgba(8, 28, 59, 0.05);
  padding: 0;
}

/* Individual letter animation */
.hero--title span {
  display: inline-block; /* Allow natural word wrapping */
  opacity: 0; /* Start hidden */
  transform: translateX(-200%); /* Start off-screen to the left */
  animation: flyIn 1.5s ease-out forwards;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

/* Keyframes for fly-in effect */
@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero--desc {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-top: 1rem;
}

.hero .btn {
  margin: auto;
  margin-top: 1.2rem;
}

/* about */
.about .card p {
  margin-top: 0.5rem;
}

/* experience */
.experience {
  background-color: #ecf0f1; /* Updated background color */
}

.divider {
  border-bottom: 1px solid rgb(35, 143, 230); /* Updated divider color */
  width: 100%;
  margin-block: 5px;
}

/* skills */
.col--flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.col--flex .chip {
  margin-bottom: 0;
}

.skill--card {
  border-bottom: 4px solid rgb(35, 143, 230); /* Updated border color */
}

.skill--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 2px;
}

.ColorChange {
  color: #e74c3c;
}

/* portfolio */
.portfolio {
  background-color: #ecf0f1; /* Updated background color */
}

.portfolio--img--cover {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.portfolio--img--cover video,
.portfolio--img--cover video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* footer */
footer {
  background-color: hsl(60, 100%, 98%);
}

.footer--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}

.footerP {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footerP p {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  overflow: hidden;
  background-color: hsl(60, 100%, 98%);
  outline: none;
  border-radius: 25px;
}
.subnavbtn {
  margin: 0;
  background: radial-gradient(
    circle,
    rgb(4, 87, 165),
    rgb(55, 128, 196),
    rgb(2, 29, 53)
  );
  color: white;
  text-shadow: 1px 1px 1px black, 2px 2px 2px black, 3px 3px 3px black,
    4px 4px 4px black;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-family: serif;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(0, 8, 14), inset 0 1px 2px #cde4ffbc,
    inset 0 -1px 2px white;
  transition: transform 0.2s, background 0.3s;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: black; /* Background color */
  min-width: 160px;
  z-index: 1;
  right: 0; /* Make the menu expand to the left */
  left: auto; /* Prevent any left expansion */
  box-shadow: 0 0 12px black; /* Additional shadow for visibility */
  margin-top: 5px;
}

.subnav-content a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.subnav-content a:hover {
  background: linear-gradient(
    to bottom,
    #add8e6,
    #4682b4,
    #1e3d58,
    #4682b4,
    #add8e6
  );
  color: azure;
  box-shadow: 0 0 12px aliceblue;
}

.navbar:hover .subnav-content {
  display: block;
  box-shadow: 0 0 10px white;
}

/* About Me Section */
.AboutMe {
  font-family: "Roboto", sans-serif;
}

.AboutMe-Page {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.AboutMe-Page h2 {
  color: rgb(3, 30, 57);
  text-shadow: 1px 0 0 aliceblue;
}

.AboutMe--title {
  font-size: 32px;
  font-weight: 900;
  color: #333;
  margin-bottom: 20px;
}

.AboutMe--desc {
  font-size: 20px;
  font-weight: 300;
  color: #555;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 40px;
}

.AboutMe--desc b {
  font-weight: 500;
  color: #000;
}

.AboutMe--desc br {
  margin-bottom: 20px;
}

.AboutMe--desc h2 {
  color: rgb(3, 30, 57);
  text-shadow: 6px 0 0 rgb(0, 136, 255);
}

/* Ensure the collage aligns well within the section */
.experience {
  padding: 0 0;
}

.video-wrapper {
  position: relative; /* Ensure the video covers the whole page */
  top: 0;
  left: 0;
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  height: auto;
  overflow: hidden; /* Hide any overflow from video */
  box-shadow: 0 0 30px rgb(0, 53, 97);
  border: 4px solid aliceblue;
}

.headSpace {
  font-size: 36px;
  margin-bottom: 40px;
  /* background: linear-gradient(
    to bottom,
    #add8e6,
    #4682b4,
    #1e3d58,
    #4682b4,
    #add8e6
  ); */
  max-width: 800px;
  align-items: center;
  justify-items: center;
  margin: 10px auto;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px rgb(177, 177, 177), 2px 2px 2px rgb(177, 177, 177),
    3px 3px 3px rgb(177, 177, 177), 4px 4px 4px rgb(177, 177, 177);
}

.video-background {
  display: block;
  position: relative; /* Ensure video is positioned correctly */
  top: 0;
  left: 0;
  width: 100%; /* Make the video cover the entire width */
  height: auto; /* Make the video cover the entire height */
  object-fit: cover; /* Ensure the video covers the entire area without stretching */
}

/* Modal styling */
/* Modal container */
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 38, 79, 0.6);
  z-index: 1000; /* Ensure it sits on top of other content */
  overflow-y: auto; /* Ensures modal is scrollable if content is too tall */
}

.modal-dialog-scrollable .grid--cards {
  padding: 10px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ecf0f1;
}

/* Modal content */
.modal-content {
  background-color: white;
  margin: auto; /* Center the modal content */
  margin-top: 100px;
  margin-bottom: 120px;
  padding: 20px; /* Reduced padding for a cleaner look */
  border-radius: 10px; /* Slightly smaller border radius */
  width: 100%; /* Adjust width of the modal */
  max-width: 800px; /* Maximum width */
  text-align: left; /* Left-align content for a more professional look */
  position: relative;
  box-shadow: 0 0 50px white; /* Subtle shadow for depth */
  box-sizing: border-box; /* Ensure padding and width play nicely */
  border: 2px solid black;
  color: #333;
}

.card h4 {
  color: black;
}

.card i {
  color: black;
  font-size: medium;
}

.card-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.card h3 {
  background: radial-gradient(
    circle,
    rgb(165, 4, 4),
    rgb(196, 55, 55),
    rgb(53, 2, 2)
  );
  color: white;
  text-shadow: 1px 0.5px 1px black, 2px 1px 1px black, 3px 1.5px 1px black,
    4px 2px 1px black;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 5px 20px rgb(0, 8, 14), inset 0 1px 2px #cde4ffbc,
    inset 0 -1px 2px white;
  transition: transform 0.2s, background 0.3s;
  width: 100%;
  margin-bottom: 15px;
}

/* Modal header */
.modal-header {
  font-size: 20px;
  display: flex;
  justify-content: center; /* Center the header content */
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  background: radial-gradient(
    circle,
    rgb(4, 87, 165),
    rgb(111, 183, 250),
    rgb(2, 29, 53)
  );
  text-shadow: 1px 1px 1px black, 2px 2px 1px black, 3px 3px 1px black;
  position: relative;
  color: white;
  border-radius: 10px;
}

/* Ensure the title is centered */
.modal-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Center the title horizontally */
  font-size: 24px; /* Adjust as necessary */
  color: #ffffff;
}

/* Position the close button on the right */
.modal-close {
  position: absolute;
  right: 10px;
  top: 0;
  background: transparent;
  font-size: 36px;
  cursor: pointer;
  outline: none;
}

.modal-close:hover,
.modal-close:focus {
  text-shadow: 0 0 5px black;
  color: #d32f2f;
  text-decoration: none;
  cursor: pointer;
  transform: translateY(-2px); /* Corrected property */
}

/* Modal body */
.modal-body {
  padding: 15px 0; /* Reduced padding for a cleaner look */
}

/* Modal footer */
.modal-footer {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  padding-top: 10px; /* Added padding for spacing */
  border-top: 3px solid black; /* Thinner line above the footer */
  margin-top: 10px; /* Added margin for spacing */
}

.modal-footnote {
  border-width: 100%;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  color: black;
}

.no-scroll {
  overflow: hidden;
}

h2 {
  /* margin-bottom: 10px; Space below the heading */
}

p {
  /* margin-bottom: 20px; Space below the last paragraph */
  text-align: left;
}

.cardlogos {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: auto;
}
