@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

/* common styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;        /* Push buttons to the right */
  align-items: center;
  gap: 0;                        /* Spacing between the buttons */
  flex: 0 0 auto;                   /* Ensure the buttons don't shrink or grow */
}

.Body-Button-Container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.Body-Button {
  background: linear-gradient(rgb(154, 185, 211), rgb(89, 143, 191), rgb(42, 97, 145), rgb(14, 51, 84), rgb(1, 17, 31));
  color: white;
  padding: 5px 5px;
  margin: 5px; /* Reduced horizontal spacing between buttons */
  text-transform: capitalize;
  border: 1px solid aliceblue;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.703);
}

.Body-Button:hover{
  background-color: #8ec2f7;
  color: black;  
  box-shadow: 0 0 12px white;
  transform: translateY(-2px);
}

.centered-button {
  background: linear-gradient(rgb(154, 185, 211), rgb(89, 143, 191), rgb(42, 97, 145), rgb(14, 51, 84), rgb(1, 17, 31));
  color: aliceblue;
  padding: 5px 5px;
  margin: 5px; /* Reduced horizontal spacing between buttons */
  text-transform: capitalize;
  border: 1px solid aliceblue;
  border-radius: 4px;
  cursor: pointer;
}

.centered-button:hover, .cta-button:hover {
  background-color: #8ec2f7;
  color: black;  
  box-shadow: 0 0 12px white;
  transform: translateY(-2px);
}

section {
  padding: 10px 0;
}

.section--head {
  text-align: center;
}

.section--title,
.section--desc {
  margin: 1rem auto;
  text-align: center;
}

.section--desc {
  max-width: 800px;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 0;
}

.grid--cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  position: relative;
  padding: 20px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 0.5rem;
  border-bottom: 4px solid #1ABC9C; /* Updated border color */
  box-shadow: 0 0 12px rgb(0, 0, 0);
  height: auto;
  margin-bottom: 20px;
}

i {
  font-size: 14px;
}
p {
  color: #555;
}

.chip {
  padding: 5px 12px;
  background-color: #E74C3C; /* Updated chip background color */
  width: fit-content;
  border-radius: 0.2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

/* nav */
.nav {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav--container {
  display: flex;                   /* Use flexbox to control alignment */
  justify-content: space-between;  /* Space between logo and buttons */
  align-items: center;             /* Vertically align everything */
  position: relative;              /* Keep the layout consistent */
  padding: 15px;  
}

.nav--container h3 {
  flex-grow: 1;                    /* Take up the space between the logo and buttons */
  text-align: center;              /* Center the heading */
  font-size: 20px;
  font-family: 'Sofia', sans-serif;
  font-weight: normal;
  font-style: italic;
  background: linear-gradient(90deg, #8ec2f7 1%, #ffaf47 33%, #fcedd8 66%, #8ec2f7 99%);
  background-size: 500% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shine 30s reverse infinite;
  margin-left: 60px;
}

.logo {
  flex: 0 0 auto;                  /* Do not allow logo to grow or shrink */
  margin-right: 20px;
}

.logo img {
  max-height: 80px;                /* Adjust size of logo */
  width: auto;
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
   }

   @media (max-width: 768px){
    .grid--cards {
      grid-template-columns: 1fr; /* Single column on smaller screens */
    }
  
    .container {
      max-width: 100%; /* Ensure the container takes full width on smaller screens */
    }
  
    .hero--desc {
      font-size: 1rem; /* Adjusted for readability */
      padding: 0 1rem;
    }
  
    .section--desc {
      font-size: 0.9rem; /* Smaller font size for sections */
      padding: 0 1rem;
    }
  
    .portfolio--img--cover img, 
    .test--img--cover img {
      width: 100%; /* Ensure images resize to fit */
      height: auto;
    }
  
    .video-background {
      height: 300px; /* Adjust video height for mobile */
    }
  
    /* Stacking navigation for mobile */
    .nav--container {
      flex-direction: column;
    }
  
    .navbar {
      text-align: center;
      padding: 10px;
    }
  }

@media (max-width: 480px) {
  .hero--title {
    font-size: 18px; /* Even smaller font size for very small screens */
  }

  .hero--desc {
    font-size: 12px;
  }

  .video-background {
    height: 200px; /* Further reduce video height on very small screens */
  }
}

.hero--title {
  text-align: center;
  margin-top: 1rem;
  font-size: 24px;
}

.hero--desc {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-top: 1rem;
}

.hero .btn {
  margin: auto;
  margin-top: 1.2rem;
}

/* about */
.about .card p {
  margin-top: 0.5rem;
}

/* experience */
.experience {
  background-color: #ECF0F1; /* Updated background color */
}

.divider {
  border-bottom: 1px solid crimson; /* Updated divider color */
  width: 100%;
  margin-block: 1rem;
}

/* skills */
.col--flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col--flex .chip {
  margin-bottom: 0;
}

.skill--card {
  border-bottom: 4px solid #1ABC9C; /* Updated border color */
}

.skill--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ColorChange{
  color: #E74C3C;
}

/* portfolio */
.portfolio {
  background-color: #ECF0F1; /* Updated background color */
}

.portfolio--img--cover {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.portfolio--img--cover video, .portfolio--img--cover video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* footer */
footer {
  background-color: black; /* Updated footer background color */
}

.footer--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}

footer p {
  color: #fff;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.subnavbtn {
  background: linear-gradient(rgb(244, 223, 223), rgb(241, 154, 154), rgb(247, 92, 92), rgb(220, 20, 20));
  color: white;
  padding: 5px 5px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: black; /* Background color */
  min-width: 160px;
  z-index: 1;
  right: 0; /* Make the menu expand to the left */
  left: auto; /* Prevent any left expansion */
}


.subnav-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.subnav-content a:hover {
  background-color: #8ec2f7;
  color: black;  
  box-shadow: 0 0 12px aliceblue;
}

.navbar:hover .subnav-content {
  display: block;  
  box-shadow: 0 0 10px white;
}

/* About Me Section */
.AboutMe {
  background-color: #f9f9f9;
  padding: 50px 20px;
  font-family: 'Roboto', sans-serif;
}

.AboutMe-Page {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.AboutMe--title {
  font-size: 32px;
  font-weight: 900;
  color: #333;
  margin-bottom: 20px;
}

.AboutMe--desc {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 40px;
}

.AboutMe--desc b {
  font-weight: 500;
  color: #000;
}

.AboutMe--desc br {
  margin-bottom: 20px;
}

.cta-button {
  background: linear-gradient(rgb(154, 185, 211), rgb(89, 143, 191), rgb(42, 97, 145), rgb(14, 51, 84), rgb(1, 17, 31));
  color: aliceblue;
  padding: 5px 5px;
  margin: 0; /* Reduced horizontal spacing between buttons */
  text-transform: uppercase;
  border: 1px solid rgb(26, 255, 0);
  box-shadow: 0 0 20px rgb(0, 255, 38);
  border-radius: 4px;
  cursor: pointer;
}

/* Ensure the collage aligns well within the section */
.experience {
  padding: 0 0;
}

.video-wrapper {
  position: relative; /* Ensure the video covers the whole page */
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  overflow: hidden; /* Hide any overflow from video */
  box-shadow: 0 0 100px black;
  border: 4px solid aliceblue;
}
.video-background {
  display: block;
  position: relative; /* Ensure video is positioned correctly */
  top: 0;
  left: 0;
  width: 100%; /* Make the video cover the entire width */
  height: auto; /* Make the video cover the entire height */
  object-fit: cover; /* Ensure the video covers the entire area without stretching */
}

/* Modal styling */
/* Modal container */
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 206, 253, 0.5); /* Darker overlay for a more professional look */
  z-index: 1000; /* Ensure it sits on top of other content */
  overflow-y: auto; /* Ensures modal is scrollable if content is too tall */
}

.modal-dialog-scrollable .grid--cards {
  padding: 10px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  border: 2px solid black;
  border-radius: 8px;
  scrollbar-color: black;
}

/* Modal content */
.modal-content {
  background-color: rgb(235, 250, 255);
  margin: auto; /* Center the modal content */
  margin-top: 100px;
  margin-bottom: 120px;
  padding: 10px; /* Reduced padding for a cleaner look */
  border-radius: 8px; /* Slightly smaller border radius */
  width: 95%; /* Adjust width of the modal */
  max-width: 1000px; /* Maximum width */
  text-align: left; /* Left-align content for a more professional look */
  position: relative;
  box-shadow: 0 0 20px rgb(5, 53, 91); /* Subtle shadow for depth */
  box-sizing: border-box; /* Ensure padding and width play nicely */
  border: 1px solid black;
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: center; /* Center the header content */
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
  position: relative; /* Make the container relative for positioning */
}

/* Ensure the title is centered */
.modal-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Center the title horizontally */
  font-size: 24px; /* Adjust as necessary */
}

/* Position the close button on the right */
.modal-close {
  position: absolute;
  right: 10px;
  top: 0;
  background: transparent;
  border: none;
  font-size: 36px;
  cursor: pointer;
  outline: none;
}

.modal-close:hover,
.modal-close:focus {
  color: #E74C3C;
  text-decoration: none;
  cursor: pointer;
  transform: translateY(-2px); /* Corrected property */
}

/* Modal body */
.modal-body {
  padding: 5px 0; /* Reduced padding for a cleaner look */
}

/* Modal footer */
.modal-footer {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  padding-top: 10px; /* Added padding for spacing */
  border-top: 3px solid #ddd; /* Thinner line above the footer */
  margin-top: 10px; /* Added margin for spacing */
}

.modal-footnote{
  border-width: 100%;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.no-scroll {
  overflow: hidden;
}

h2 {
  margin-bottom: 10px; /* Space below the heading */
}

p {
  margin-bottom: 20px; /* Space below the last paragraph */
  text-align: left;
}

.cardlogos{
  position: relative;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: auto;
}